body
{
	background-image: url('images/ToyStory3.jpg');
	padding: 25px;
	background-repeat: no-repeat;
    background-size: auto;
}
.container
{
	width: 900px; 
	height: 900px;
	margin: 100px auto;
	background: #fff;
	position: relative;
}
.container h1
{
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
}